body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #05192d;
}

$primary-color:#b3def9;

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

.container {
    // background-color: beige;
    width: 80%;
    margin: auto;
    max-width: 1140px;
}

a {
    text-decoration: none;
}

//頁首
header {
    background-color: #05192d;
}

header h1 {
    color: $primary-color;
    padding: 10px;
}
header h1 a{
    color: #b3def9;
}

header>.container>nav>ul {
    display: flex;
    width: 100%;
    // justify-content: space-around;
}

header>.container>nav>ul>li {
    width: 25%;
    text-align: center;
}

header>.container>nav>ul>li>a {
    line-height: 60px;
    text-decoration: none;
    color: $primary-color;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    box-sizing: border-box;
    display: block;
    border-bottom: 3px solid $primary-color;
}

header>.container>nav>ul>li>a:hover {
    border-bottom: 3px solid bisque;
    color: bisque;

}

//內容

.img-fluid {
    width: 100%;
}

.img-radius {
    border-radius: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}


@for $i from 1 through 12 {
    .col-#{$i}{
        $num: calc(12 / #{$i});
        width: calc(100% / #{$num} - 30px);
        margin: 0px 15px 40px 15px;

    }
}

@media (min-width:768px){
    @for $i from 1 through 12 {
        .col-md-#{$i}{
            $num: calc(12 / #{$i});
            width: calc(100% / #{$num} - 30px);
            margin: 0px 15px 40px 15px;

        }
    }    
}
@media (min-width:1200px){
    @for $i from 1 through 12 {
        .col-lg-#{$i}{
            $num: calc(12 / #{$i});
            width: calc(100% / #{$num} - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
}    
@media (min-width:768px){
    .order-md-1{
        order:-1;
    }
}

div>h2 {
    margin: 20px 0;
    color: #b3def9;
}

div>h3>a {
    display: block;
    margin: 5px 0;
    color: #b3def9;
}

.container p {
    color: #ffffff;
}

//頁尾
footer {
    background-color: #05192d;
    padding: 40px 0;
}

footer dl {
    text-align: center;
}

footer a {
    color: #ffffff;
}

footer dt {
    color: #b3def9;
    font-size: 20px;
    font-weight: bold;
}

// design-list
.breadcrumb {
    padding-top: 20px;
    padding-bottom: 10px;
    color: #ffffff;
}

.breadcrumb a {
    color: rgb(255, 255, 255);
}

section ul {
    margin-top: 50px;
    width: 100%;
}

section li {
    background-color: #b3def9;
    border-radius: 5px;
    text-align: center;
    padding: 8px 0;
    margin: 8px auto;
    width: 100%;
}

section>ul>li>a {
    line-height: 30px;
    display: block;
    width: 100%;

}

// .right{
//     width: 80%;
// }
// .left{
//     width: 20%;
//    }
.col-4 h3 {
    margin-top: 10px;
    text-align: center;
    color: #b3def9;
}

.col-4 p {
    color: #ffffff;
    text-align: center;
}

.img-wrap {
    display: block;
    position: relative;
    // background-color: rgb(101, 79, 51);
}

.img-overlay {
    overflow: hidden;
    border-radius: 8px;
}

.img-wrap img {
    vertical-align: top;
    transition: all 1s;
}

.img-wrap img:hover {
    transform: scale(1.2);
}

.icon-new {
    position: absolute;
    width: 50px;
    line-height: 50px;
    color: #ffffff;
    border-radius: 100%;
    top: 2px;
    left: 2px;
    background-color: rgb(12, 29, 29);
    text-align: center;
}

// .icon-menu
//小於767px以下
@media (max-width: 767px) {
    

    h1 {
        // width: 85%;
        // background-color: green;
        float: left;
        
    }
    h1 a{
        color: #b3def9;
    }

    .icon-menu {
        background-color: orange;
        color: rgb(255, 255, 255);
        line-height: 60px;
        width: 15%;
        display: block;
        text-align: center;
        float: right;
    }

    header>.container>nav {
        width: 100%;
        float: left;
        display: none;
    }
    header>.container>nav.active {
        display: block;
    }

    header>.container>nav>ul {
        display: block;
    }

    header>.container>nav>ul>li {
        width: 100%;
    }

    .overflow-hidden {
        overflow: hidden;
    }
    header>.container>nav>ul>li>a{
        border-bottom: none;
    }
    header>.container>nav>ul>li>a:hover{
        border-bottom: none;
    }
/* 767px 以下*/
}



//超過768px以下執行
@media (min-width: 760px) {
    .icon-menu {
        display: none;
    }

//min-width 768 end
}

//for 迴圈
@for $i from 1 through 5 {
    .fz-#{$i}{
        font-size: $i*1em;
    }
}