body {
  font-family: "Times New Roman", Times, serif;
  background-color: #05192d;
}

* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1140px;
}

a {
  text-decoration: none;
}

header {
  background-color: #05192d;
}

header h1 {
  color: #b3def9;
  padding: 10px;
}

header > .container > nav > ul {
  display: flex;
  width: 100%;
}

header > .container > nav > ul > li {
  width: 25%;
  text-align: center;
}

header > .container > nav > ul > li > a {
  line-height: 60px;
  text-decoration: none;
  color: #b3def9;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  box-sizing: border-box;
  display: block;
}

header > .container > nav > ul > li:hover {
  border-bottom: 3px solid #b3def9;
}

.img-fluid {
  width: 100%;
}

.img-radius {
  border-radius: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.col-4 {
  width: calc(100% / 3 - 40px);
  margin: 0px 70px 40px 50px;
}

.col-3 {
  width: calc(100% / 4 - 30px);
  margin: 0px 10px 40px 10px;
}

.col-9 {
  width: calc(100% / 1.33333 - 30px);
  margin: 0px 10px 40px 10px;
}

.col-6 {
  width: calc(100% / 2 - 30px);
  margin: 0px 15px 40px 15px;
}

.col-6 img {
  background-size: auto;
}

div > h2 {
  margin: 20px 0;
  color: #b3def9;
}

div > h3 > a {
  display: block;
  margin: 5px 0;
  color: #b3def9;
}

.container p {
  color: #ffffff;
}

footer {
  background-color: #05192d;
  padding: 40px 0;
}

footer dl {
  text-align: center;
}

footer a {
  color: #ffffff;
}

footer dt {
  color: #b3def9;
  font-size: 20px;
  font-weight: bold;
}

.breadcrumb {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
}

.breadcrumb > a {
  color: white;
}

section ul {
  margin-top: 30px;
}

section li {
  background-color: #b3def9;
  border-radius: 5px;
  box-sizing: border-box;
  width: 180px;
  text-align: center;
  padding: 8px 0;
  margin: 8px auto;
}

section > ul > li > a {
  line-height: 30px;
  display: block;
  width: 100%;
}

.left {
  width: 20%;
}

.right {
  width: 80%;
}