doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title fennn
    link(rel='stylesheet', href='public/css/styles.css')
  body
    // header>.container>h1{fennn}+nav>ul>li*4>a[href="#"]{文字}
    header
      .container
        a.icon-menu(href="#") menu 
        h1 
            a(href='index.html') Fennn's portfolio
        nav
          ul
            li
              a(href='about-me.html') 關於我
            li
              a(href='design-list.html') 專案作品
            li
              a(href='#') 聯絡我
            li
              a(href='#') 履歷表
    // 頁首結尾

    .container 
      .row 
        .col-12
          h1 關於我
      .row
        .col-12.col-md-6 
          img.img-fluid.img-radius(src='https://loremflickr.com/300/300', alt='')
        .col-12.col-md-6.order-md-1 02

      .row 
        .col-12.col-md-6 
          img.img-fluid.img-radius(src='https://loremflickr.com/300/300', alt='')
        .col-12.col-md-6 02


    footer
      .container
        .row
          dl.col-12.col-md-3
            dt &#x6A19;&#x984C;01
            dd
              a(href='#') &#x9805;&#x76EE;01
            dd
              a(href='#') &#x9805;&#x76EE;02
            dd
              a(href='#') &#x9805;&#x76EE;03
            dd
              a(href='#') &#x9805;&#x76EE;04
          dl.col-12.col-md-3
            dt &#x6A19;&#x984C;02
            dd
              a(href='#') &#x9805;&#x76EE;01
            dd
              a(href='#') &#x9805;&#x76EE;02
            dd
              a(href='#') &#x9805;&#x76EE;03
          dl.col-12.col-md-3
            dt &#x6A19;&#x984C;03
            dd
              a(href='#') &#x9805;&#x76EE;01
            dd
              a(href='#') &#x9805;&#x76EE;02
            dd
              a(href='#') &#x9805;&#x76EE;03
            dd
              a(href='#') &#x9805;&#x76EE;04
          dl.col-12.col-md-3
            dt &#x6A19;&#x984C;04
            dd
              a(href='#') &#x9805;&#x76EE;01
            dd
              a(href='#') &#x9805;&#x76EE;02
        p.copyright.text-center &#x672C;&#x7AD9;&#x53EA;&#x4F9B;&#x5B78;&#x7FD2;&#x4F7F;&#x7528;