doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title fennn
  link(rel='stylesheet' href='public/css/styles.css')
// header>.container>h1{fennn}+nav>ul>li*4>a[href="#"]{文字}
header
  .container
    h1 Fennn&apos;s portfolio
    nav
      ul
        li
          a(href='index.html') &#x95DC;&#x65BC;&#x6211;
        li
          a(href='design-list.html') &#x5C08;&#x6848;&#x4F5C;&#x54C1;
        li
          a(href='#') &#x806F;&#x7D61;&#x6211;
        li
          a(href='#') &#x5C65;&#x6B77;&#x8868;
// 頁首結尾
// 內容開始
.container.breadcrumb
  a(href='index.html') &#x9996;&#x9801; 
  |  &gt; 
  a(href='design-list.html') &#x5C08;&#x6848;&#x4F5C;&#x54C1;
section.container
  .row
    .left.col-12.col-md-3.col-lg-2
      ul.col-12.breadcrumb
        li
          a(href='') &#x5168;&#x90E8;
        li
          a(href='') &#x5F62;&#x8C61;&#x7DB2;&#x7AD9;
        li
          a(href='') APP&#x8A2D;&#x8A08;
        li
          a(href='') &#x5E73;&#x9762;&#x8A2D;&#x8A08;
    .right.col-12.col-md-9.col-lg-10
      .row
        h3(style='width:100%;color: antiquewhite;margin-left: 10px ;margin-bottom: 20px;') &#x6700;&#x65B0;&#x4F5C;&#x54C1;
        .col-12.col-md-4.text-center
          a.img-wrap(href='#')
            .img-overlay
              img.img-fluid.img-radius(src='https://loremflickr.com/300/300' alt='')
              span.icon-new new
          h3 &#x4F5C;&#x54C1;&#x540D;&#x7A31;
          p &#x5167;&#x5BB9;&#x6587;&#x5B57;
        .col-12.col-md-4.text-center     
          a.img-wrap(href='#')
            .img-overlay
              img.img-fluid.img-radius(src='https://loremflickr.com/300/300' alt='')
              span.icon-new new
          h3 &#x4F5C;&#x54C1;&#x540D;&#x7A31;
          p &#x5167;&#x5BB9;&#x6587;&#x5B57;
        .col-12.col-md-4.text-center
          a.img-wrap(href='#')
            .img-overlay
              img.img-fluid.img-radius(src='https://loremflickr.com/300/300' alt='')
          h3 &#x4F5C;&#x54C1;&#x540D;&#x7A31;
          p &#x5167;&#x5BB9;&#x6587;&#x5B57;
        .col-12.col-md-4.text-center
          a.img-wrap(href='#')
            .img-overlay
              img.img-fluid.img-radius(src='https://loremflickr.com/300/300' alt='')
          h3 &#x4F5C;&#x54C1;&#x540D;&#x7A31;
          p &#x5167;&#x5BB9;&#x6587;&#x5B57;
        .col-12.col-md-4.text-center
          a.img-wrap(href='#')
            .img-overlay
              img.img-fluid.img-radius(src='https://loremflickr.com/300/300' alt='')
          h3 &#x4F5C;&#x54C1;&#x540D;&#x7A31;
          p &#x5167;&#x5BB9;&#x6587;&#x5B57;
        .col-12.col-md-4.text-center
          a.img-wrap(href='#')
            .img-overlay
              img.img-fluid.img-radius(src='https://loremflickr.com/300/300' alt='')
          h3 &#x4F5C;&#x54C1;&#x540D;&#x7A31;
          p &#x5167;&#x5BB9;&#x6587;&#x5B57;
// footer>.container>.row>dl.col-3*5>dt{標題$$}+dd*4>a{項目$$}^^^p.copyright.text-center{copyright}
footer
  .container
    .row
      dl.col-3
        dt &#x6A19;&#x984C;01
        dd
          a(href='#') &#x9805;&#x76EE;01
        dd
          a(href='#') &#x9805;&#x76EE;02
        dd
          a(href='#') &#x9805;&#x76EE;03
        dd
          a(href='#') &#x9805;&#x76EE;04
      dl.col-3
        dt &#x6A19;&#x984C;02
        dd
          a(href='#') &#x9805;&#x76EE;01
        dd
          a(href='#') &#x9805;&#x76EE;02
        dd
          a(href='#') &#x9805;&#x76EE;03
      dl.col-3
        dt &#x6A19;&#x984C;03
        dd
          a(href='#') &#x9805;&#x76EE;01
        dd
          a(href='#') &#x9805;&#x76EE;02
        dd
          a(href='#') &#x9805;&#x76EE;03
        dd
          a(href='#') &#x9805;&#x76EE;04
      dl.col-3
        dt &#x6A19;&#x984C;04
        dd
          a(href='#') &#x9805;&#x76EE;01
        dd
          a(href='#') &#x9805;&#x76EE;02
    p.copyright.text-center &#x672C;&#x7AD9;&#x53EA;&#x4F9B;&#x5B78;&#x7FD2;&#x4F7F;&#x7528;
